
.hidden {
  visibility: hidden;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.social-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
     